# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UnityRPG.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\RPG\UnityRPG\.idea\.idea.UnityRPG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
